@model PagedList.IPagedList<WebAPIPrueba.Models.Country>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Paises";
}

<h2>Administración de Paises</h2>

<p>
    @Html.ActionLink("Nuevo País", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CountryId }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CountryId }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CountryId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), De: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
</div>