@model WebAPIPrueba.Models.User

@{
    ViewBag.Title = "Usuarios";
}

<h2>Administración de Usuarios</h2>

<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        
       
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @(Model.Genero == 1 ? "Hombre" : "Mujer")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Photo)
        </dt>
        
        <dd>
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img class="img-rounded" src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
            else
            {
                <img class="img-rounded" src="~/Content/Bosses/Photo.png" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
</p>
